<div class="list-show-header grid grid-cols-3">
  <div class="justify-items-start pt-4"><%= link_to lists_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
    </svg>
    <% end %>
  </div>
  <div class="justify-items-center text-center"><h1 class="list-name justify-self-center"><%= @list.name %></h1></div>
</div>
<% @list.items.each do |i| %>
  <div class="listshow-itemcontainer flex justify-between">
    <div class="item-name-content">
      <h2><%= i.name %></h2>
      <p class="item-content"><%= i.content %></p>
    </div>
    <div class="item-inspect-delete">
      <p class="item-option"><%= link_to "Inspect this item", item_path %></p>
      <p class="item-option"><%= link_to "Delete this item", item_path(i), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    </div>
  </div>
<% end %>
<div class="list-options">
  <%= link_to "Add a new item to this list", new_list_item_path(@list), class: "option-button" %>
  <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "option-button" %>
</div>
